{% extends 'base.html.twig' %}

{% block title %}Hello PropertyController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2 class="mb-5">Les derniers biens</h2>
		<div class="row">
			{% for property in properties %}
				<div class="col-3">
					<div class="card mb-3">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
							</h5>
							<p class="card-text">{{ property.city }}</p>
							<div class="text-primary">{{ property.getFormattedPrice}}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
