{% extends 'base.html.twig' %}

{% block title 'Nouveau bien' %}

{% block body %}
	<div class="container mt-4">
		<H1>Créer un nouveau bien</H1>
		{{ include('admin/_form.html.twig', {form: form, button: 'Enregistrer'}) }}
	</div>

{% endblock %}
